.form_page{
    justify-content: center;
}

.authentication_form{
    width: 30%;
    padding: 32px 48px;
    margin-top: 32px;
    background-color: white;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: all 0.2s ease-in-out;
}

.authentication_form:hover{
    transform: scale(1.01);
}

.authentication_form h2 {
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.form_inputs div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form_inputs label{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
}

.form_text_input{
    height: 35px;
    padding: 0 8px;
    font-size: 17px;
    outline: none;
}

.form_submit {
    height: 40px;
    width: 100%;
    margin: 25px 0 10px;
    
}

.search_button{
    color: white;
    transition: all 0.1s ease-in-out;
}

.search_button:hover{
    transform: scale(0.95);
}

.form_error{
    color: red;
}